bottle==0.12.10
coverage==4.2
coveralls==1.1
flake8==3.0.4
flake8-import-order==0.11
Pygments==2.1.3
pylint==1.7.1
pytest==3.0.3
pytest-cov==2.5.1
peewee==2.8.5
WebTest==2.0.23
-e git+https://github.com/Afonasev/Migrator@v0.2#egg=migrator
Markdown==2.6.7
