% rebase('base.html')
% for snippet in snippets:
<div class="block">

    <div class="snippet__attrs">
    % if snippet.name:
        <p>{{ snippet.name }}</p>
    % end

    <p>
        % if snippet.author:
            <a href="/user/{{ snippet.author.name }}">@{{ snippet.author.name }}</a> |
        % end
        {{ snippet.syntax }} |
        {{ snippet.created_at.strftime('%Y-%m-%d %H:%M:%S') }} |
        <a href="/snippet/{{ snippet.pk }}/text">text</a>
        % if defined('user') and user == snippet.author:
            | <a href="/snippet/{{ snippet.pk }}/delete">remove</a>
        % end
    </p>
    </div>

    <a href="/snippet/{{ snippet.pk }}">
        <pre class="snippet__html snippet__short">{{ !snippet.html }}</pre>
    </a>
</div>
% end
